* {
  box-sizing: border-box;
  transition: all 0.5s;
  font-family: 'Poppins', sans-serif;
  color: white;
}
#root {
  width: 100%;
}
html {
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(30deg, #013a6b 50%, #004e95 50%);
  min-height: 500px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
main {
  position: relative;
  min-height: 300px;
}
p {
  font-size: 20px;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  max-width: 900px;
  text-align: left;
  align-items: center;
  position: relative;
  box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
  margin: 0 auto;
  margin-bottom: 96px;
  margin-top: 96px;
  width: 100%;
  background-color: rgb(228, 228, 228);
  /* gap: 8px; */
}
.modal {
  border: 4px solid white;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
  margin: 24px auto;
  padding: 8px;
  background-color: #013a6b;
}
.modal li {
  padding: 4px 0;
}
.modal ul {
  padding: 0 2rem;
  margin: 0 auto;
}
.modal p:nth-of-type(1) {
  text-align: center;
  margin: 8px 0;
}
.modal h2 {
  margin: 4px auto;
  text-align: center;
}
.modal p:nth-of-type(2) {
  background-color: #004e95;
  padding: 8px;
  width: 50%;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.modal p:nth-of-type(2):hover {
  background-color: rgb(0, 90, 174);
}
.game img:nth-of-type(1) {
  width: 100%;
  filter: brightness(0%);
  margin-bottom: 12px;
  /* border: 2px solid white; */
  aspect-ratio: 16/9;
  position: relative;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: space-between;
}

.image-container div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 16px;
  padding: 8px;
  margin: 16px 0px 16px 0;
}
.image-container div p:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.image-container div p:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: -1;
}

.new-game1 {
  padding: 5px 8px;
  text-align: center;
  cursor: pointer;
  color: rgb(228, 228, 228);
  width: 150px;
  background-color: #004e95;
  border: 2px solid white;
  border-radius: 4px;
  margin: 0 auto;
  padding: 6px 12px;
}
.new-game1:hover {
  transform: translateY(-2px);
  background-color: #013a6b;
}

.loader {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 8px;
}
.eye {
  position: absolute;
  top: 2px;
  left: 2px;
  max-width: 10%;
  cursor: pointer;
  padding: 5px 8px;
  filter: brightness(100%);
  margin-bottom: 0;
}
.all-hints {
  width: 100%;
  height: 100%;
  padding: 8px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hints {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 16px;
  margin: 0;
}
.hint {
  width: 150px;
  text-align: center;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  background-color: #004e95;
  border: 2px solid white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.hint:hover {
  background-color: #013a6b;
}
.desc-div {
  grid-column: 1/-1;
  grid-row: 3/-1;
  max-height: none;
  min-height: 100px;
  height: fit-content;
  width: 100%;
}
.desc {
  font-size: 14px;
  grid-column: 1/-1;
  grid-row: 3/-1;
  height: fit-content;
}
.hint:hover {
  transform: translateY(-2px);
}
form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 16px;
  border-radius: 0;
  color: #013a6b;
}
input:focus {
  border: none;
  border-style: none;
  outline: none;
}
button {
  padding: 12px;
  border: none;
  font-size: 16px;
  border-radius: 0;
  background-color: #004e95;
  cursor: pointer;
}
button:hover {
  background-color: #013a6b;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;
  align-items: center;
  padding: 4px 12px;
  flex-wrap: wrap;
  border-bottom: 2px solid white;
  background-color: rgb(228, 228, 228);
  color: #013a6b;
}
.response {
  color: #013a6b;
  text-align: center;
  padding: 1rem;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  padding: 12px;
  cursor: pointer;
  color: #013a6b;
  font-weight: bold;
  font-size: 20px;
}
nav li:hover {
  text-decoration: underline;
}
.total-wins {
  background-color: #004e95;
  color: rgb(228, 228, 228);
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  cursor: default;
}
.total-wins:hover {
  text-decoration: none;
}
h1 {
  color: #013a6b;
  font-size: 24px;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  border-top: 2px solid white;
  position: fixed;
  bottom: 0;
  background-color: rgb(228, 228, 228);
  color: #013a6b;
}
footer div {
  display: flex;
  flex-direction: row;
}
footer small {
  margin-top: 24px;
  color: #013a6b;
}
footer div p {
  padding: 0 1rem;
  color: #013a6b;
}
footer div p svg {
  width: 80%;
  cursor: pointer;
}
@media (max-width: 932px) {
  .game {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .hints {
    padding: 0;
  }
  .image-container {
    width: 100%;
  }
  footer {
    position: initial;
    bottom: 0;
  }
  .loader {
    height: 100vh;
    align-items: start;
  }
}
@media (max-width: 548px) {
  nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav div {
    grid-column: 1/4;
    text-align: center;
  }
  nav ul {
    grid-row: 2/2;
    grid-column: 1/-1;
    justify-content: space-between;

    padding-left: 0;
  }
  nav li {
    margin: 0 auto;
  }
  /* .hint {
    width: 100%;
    padding: 3px 6px;
    height: 100%;
  } */

  .desc-div {
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
  }
  .game img:nth-of-type(1) {
    aspect-ratio: initial;
    max-width: 100%;
    width: fit-content;
  }
  .game {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}
